body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navigation style */
.icon{
  margin: auto;
  margin-left: 42%;
}

.db-video{
  margin-left: 30%;
  padding: 20px;
}

.db-banner{
  margin: 20px;
}
.txt-effect{
    text-align: center;
    font-size: 3rem;
}
.th-message{
  font-size: xxx-large;
    color: darkgreen;
    font-family: fantasy;
    text-align: center;
}
.txt-message{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.profilepic
{
  border-radius: 50%;
  width: 200px;
  margin: 30px;
}
.typingeffect
{
  font-size: var(--typing-font);
  margin-bottom: 30px;
}


.bg_green{
  background-color: rgb(13, 63, 13);
}

.nav{
color: white;
height: 40px;
align-items: center;
}

.nav p{
  margin: 0;
}
.nav svg {
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: sub;
}

.center{
  margin: auto;
  width: 80%;
  /* border: 3px solid green; */
  padding: 10px;
  text-align: center;
}

.card-container{
  width: 70%;
  margin:auto;

}

.border2px{
  border: 2px solid red;
}

.card{
border: 0;
border-radius: 0;
display: inline-block;
margin: 10px;
}

.color_white{
  color: white;
}

.color_red{
  color: red !important;
}

.form-container {
  width: 94%;
  margin: auto;
  padding: 50px 40px;
  border-radius: 80px;
}

.form-container input[type="text"], .form-container input[type="email"] {
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  width: 90%;
  padding: 10px 0;
  margin-top: 20px;
  outline: 0 !important;
  box-shadow: none !important;
  color: white;
}

.form-container input::-webkit-input-placeholder { /* Edge */
  color: white;
}

.form-container input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.form-container input::placeholder {
  color: white;
}

.checbox-label {
  margin-bottom: 5px;
  margin-top: 1rem;
}

.checkboxes * {
  font-size: 13px;
}

.submit-section {
  width: 80%;
  margin: auto;
}

.submit-section button {
  width: 250px;
  height: 50px;
  border-radius: 50px;
  color: rgb(13, 63, 13);
  cursor: pointer;
  border: 0;
  outline: 0;
  box-shadow: none;
  margin: 18px auto 0;
  display: block;
}

@media (min-width : 740px){
  
  .card{
  width: 18rem;
  }

  .form-container {
    width: 780px;
  }

}
